<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controlador.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>controlador.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroprod</servlet-name>
        <servlet-class>controlador.registroprod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarprod</servlet-name>
        <servlet-class>controlador.eliminarprod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contro1</servlet-name>
        <servlet-class>servlet.contro1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlProd</servlet-name>
        <servlet-class>servlet.controlProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlUsu</servlet-name>
        <servlet-class>servlet.controlUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPed</servlet-name>
        <servlet-class>servlet.controlPed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlDeta</servlet-name>
        <servlet-class>servlet.controlDeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>control1</servlet-name>
        <servlet-class>jsfServlet.control1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>control2</servlet-name>
        <servlet-class>jsfServlet.control2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCambio</servlet-name>
        <servlet-class>servlet.ControlCambio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroprod</servlet-name>
        <url-pattern>/registroprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarprod</servlet-name>
        <url-pattern>/eliminarprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contro1</servlet-name>
        <url-pattern>/contro1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlProd</servlet-name>
        <url-pattern>/controlProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlUsu</servlet-name>
        <url-pattern>/controlUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPed</servlet-name>
        <url-pattern>/controlPed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlDeta</servlet-name>
        <url-pattern>/controlDeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>control1</servlet-name>
        <url-pattern>/control1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>control2</servlet-name>
        <url-pattern>/control2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCambio</servlet-name>
        <url-pattern>/ControlCambio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
